.country{
    border:2px solid green;
     margin:10px;
     padding:10px;
     background: rgb(155, 144, 144);
}
.gridCountry{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

.country-visited{
    background-color: lightcyan;
}